/* These are the main colors

Light
 Blue active tone:  rgba(42, 51, 173, 1)
 Blue passive tone:  rgba(42, 51, 173, 0.7)
 Background: white

Dark
 Blue active tone:  rgb(96, 101, 178)

Background: rgb(52, 54, 83)
  */

@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

body {
  background-color: white;
  color: rgba(96, 101, 178, 1);
  max-width: 100%;
  height: 100%;
  background-size: stretch;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-around;
}

.nav-menu {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  z-index: 100;
  color: rgba(96, 101, 178, 1);
  text-decoration: none;
}

.nav-menu ul,
li,
a,
button {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgba(96, 101, 178, 1);
  text-decoration: none;
  background-color: none;
}

.nav-menu header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  color: rgba(42, 51, 173, 1);
}

.kanvas-logo {
  position: relative;
  width: 160px;
  height: auto;
  cursor: pointer;
}

.nav-pointers li a {
  list-style: none;
  position: relative;
  color: rgba(96, 101, 178, 1);
  text-decoration: none;
  top: 6px;
}

.nav-pointers li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-pointers li a {
  transition: all 300ms ease 0s;
  font-size: large;
}

.dropdown-a {
  color: rgba(96, 101, 178, 1);
  opacity: 0.6;
}

.dropdown-menu {
  position: relative;
  top: 2px;
}

.dropdown-item {
  font-weight: 600;
}

.dropdown-item:hover {
  background-color: rgba(96, 101, 178, 0.9);
}

.nav-pointers li a:hover {
  font-size: large;
  color: rgba(96, 101, 178, 1);
  text-shadow: 2px 2px 8px rgba(42, 51, 173, 0.21);
}

.nav-button {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  position: relative;
  padding: 9px 20px;
  background-color: rgba(96, 101, 178, 1);
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: all 300ms ease 0s;
}

.nav-button:hover {
  padding: 9px 20px;
  background-color: rgba(96, 101, 178, 1);
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: all 300ms ease 0s;
  box-shadow: 4px 6px 8px rgba(42, 51, 173, 0.4);
}

.container {
  position: fixed;
  left: 10%;
  right: 10%;
  width: auto;
  height: 100%;
  /* align-items: center; */
  font-family: "Lato", sans-serif;
  /* background-color: red; */
}

.hero {
  color: rgba(96, 101, 178, 0.7);
  padding: 60px 60px;
  font-family: "Lato", sans-serif;
  /* background-image: url(./img/airdrop\ light.png); */
  background-size: 46%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.illustration {
  animation: float 2s infinite;
  background-color: none;
}

.earn-hero {
  padding: 60px 60px;

  background-image: url(./img/bg1.png);
  background-size: 110%;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position-x: right;
}

.hero > h1 {
  color: rgba(96, 101, 178, 1);
  font-weight: 700;
  font-size: 50px;
  width: 600px;
}

.hero > h3 {
  width: 620px;

  font-weight: 300;
}

.hyperlink {
  color: rgba(96, 101, 178, 1);
}

.hyperlink:hover {
  color: rgba(96, 101, 178, 0.7);
}

.toggle-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  float: left;
  padding-right: 20px;
  padding-top: 24px;
  align-items: center;
  height: 20px;
  margin: 0;
}

body.dark,
body.dark h2,
body.dark h4,
body.dark .hyperlink,
body.dark .nav-menu,
body.dark .dropdown-menu,
body.dark .tabs,
body.dark .tabs .pending .row .coin-div,
body.dark .tabs .tabs-head *,
body.dark .container,
body.dark .selector,
body.dark .selector h3,
body.dark .selector div > .card-pool,
body.dark .chartBox,
body.dark .container .stake-and-balance .tabs,
body.dark .hero,
body.dark .hero h1 {
  background-color: rgba(52, 54, 83, 1);
  color: white;
}

body.dark .dropdown-a {
  color: rgba(255, 255, 255, 0.6);
}

body.dark .illustration {
  content: url(./img/airdrop\ dark.png);
}

.shadow-box {
  animation: float_w_shadow 2s infinite;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}

@keyframes float_w_shadow {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

body.dark .tabs .pending h5,
body.dark .tabs #availableHarvest,
body.dark .tabs .pending h3,
body.dark .tabs .pending .row .coin-div {
  color: white;
  background-color: none;
}

body.dark .kanvas-logo {
  content: url("./img/logo-dark.png");
}

body.dark .kvs-spin::before {
  background-image: url("./img/Token\ KVS.png");
}

body.dark .skvs-spin::before {
  background-image: url("./img/Token\ sKVS.png");
}

body.dark #balance .coin {
  content: url("./img/Token\ sKVS.png");
}

body.dark #unstaked .coin {
  content: url("./img/Token\ KVS.png");
}

body.dark .pending .coin {
  content: url("./img/Token\ sKVS.png");
}

body.dark .nav-pointers li a,
body.dark .hero li {
  color: white;
}

body.dark .dropdown-item:hover {
  background-color: rgba(96, 101, 178, 1);
}

body.dark .nav-pointers li a:hover {
  text-shadow: 2px 2px 8px rgba(355, 355, 355, 0.4);
}

body.dark .tabs,
body.dark .selector,
body.dark .selector div > .card-pool {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

body.dark ::-webkit-scrollbar-thumb {
  background: rgba(96, 101, 178, 0.7);
}

body.dark .tabs .tabs-content .is-active {
  color: rgba(96, 101, 178, 1);
}

body.dark ::-webkit-scrollbar-thumb:active,
body.dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(96, 101, 178, 1);
  box-shadow: 4px 6px 8px rgba(96, 101, 178, 0.8);
}

body.dark
  .selector
  div
  > .card-pool:hover
  + body.dark
  .selector
  .card-pool
  h3:hover {
  background-color: rgb(96, 101, 178, 0.2);
}

body.dark .nav-pills-1 > li > a:hover {
  background-color: rgb(96, 101, 178, 0.8);
}

body.dark .selector div > .card-pool.is-active,
body.dark .selector div > .card-pool.is-active:hover,
body.dark .nav-menu header .toggle-wrapper .ball,
body.dark .nav-button,
body.dark .selector .card-pool.is-active h3 {
  border-color: rgba(96, 101, 178, 1);
}

body.dark .selector div.gradient-border.is-active .card-pool.is-active,
body.dark
  .selector
  div.gradient-border.is-active:hover
  .card-pool.is-active:hover {
  border-color: transparent;
}

body.dark .gradient-border,
body.dark .gradient-border:hover {
  color: white;
  background-color: rgba(52, 54, 83, 1);
}

body.dark .nav-button:hover {
  box-shadow: 4px 6px 8px rgb(96, 101, 178, 0.4);
}

body.dark .stake-button,
body.dark .harvest-all-button,
body.dark .tabs-toggle.is-active,
body.dark .nav-pills-1 > li.active > a,
body.dark .nav-pills-1 > li.active > a:focus,
body.dark .nav-pills-1 > li.active > a:hover,
body.dark .dex-logo:before {
  background-color: rgb(96, 101, 178);
}

body.dark .stake-button:hover,
body.dark .harvest-all-button:hover,
body.dark .chartBox {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

body.dark .harvest-button,
body.dark ::-webkit-scrollbar-track,
body.dark .nav-menu header .toggle-wrapper label {
  background-color: rgb(73, 77, 125);
  color: white;
}

body.dark .harvest-button:hover {
  background-color: rgb(96, 101, 178);
  color: white;
  box-shadow: 4px 6px 8px rgb(255, 255, 255, 0.2);
}

.toggle-wrapper > .label {
  width: 60px;
  height: 26px;
  justify-content: space-between;
  background-color: rgba(42, 51, 173, 0.2);
  border-color: rgb(52, 54, 83);
  border-width: 1px;
  align-items: center;
  display: flex;
  position: relative;
  border-radius: 40px;
  padding: 8px;
}

.ball {
  width: 22px;
  height: 22px;
  background-color: rgba(96, 101, 178, 1);
  padding: 2px;
  left: 3px;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.2s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(21px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.selector {
  position: relative;
  width: 400px;
  height: 490px;
  left: 140px;
  top: 60px;
  background-color: white;
  color: rgba(96, 101, 178, 1);
  border-radius: 7px;
  z-index: 0;
  box-shadow: 2px 4px 8px rgba(42, 51, 173, 0.2);
}

.nav-pills-1 > li > a:hover {
  border-radius: 60%;
  background-color: rgba(96, 101, 178, 1);
}

.nav-pills-1 > li > a {
  opacity: 0.4;
  width: 72px;
  height: 72px;
  padding: 2px 10px;
  bottom: 8px;
}

.nav-pills-1 > li.active > a,
.nav-pills-1 > li.active > a:focus,
.nav-pills-1 > li.active > a:hover {
  width: 72px;
  height: 72px;
  background-color: rgba(96, 101, 178, 1);
  border-radius: 60%;
  opacity: 1;
  bottom: 12px;
}

div.card-pool {
  cursor: pointer;
  opacity: 0.25;
  width: 320px;
  height: 96px;
  background-color: rgba(42, 51, 173, 0.2);
  color: rgba(96, 101, 178, 1);
  margin-bottom: 8px;
  border-radius: 7px;
  box-shadow: 2px 4px 8px rgba(42, 51, 173, 0.2);
}

#img1 {
  z-index: 4;
}

#img2 {
  z-index: 3;
}

#img3 {
  z-index: 2;
}

#img4 {
  z-index: 1;
}

div.card-pool h3 {
  font-weight: 400;
  font-size: 20px;
}

.card-pool:hover {
  opacity: 1;
  cursor: pointer;
  width: 320px;
  height: 96px;
  background-color: rgba(42, 51, 173, 0);
  color: rgba(96, 101, 178, 1);
  margin-bottom: 8px;
  border-radius: 7px;
  box-shadow: 2px 4px 8px rgba(0, 8, 118, 0.2);
}

.card-pool.is-active,
.card-pool.is-active:hover {
  opacity: 1;
  cursor: pointer;
  width: 320px;
  height: 96px;
  background-color: white;
  border-color: rgba(96, 101, 178, 1);
  border: 4px solid;
  color: rgba(96, 101, 178, 1);
  margin-bottom: 8px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 8, 118, 0.2);
}

div.gradient-border.is-active,
div.gradient-border.is-active:hover,
div.gradient-border:hover {
  border-color: rgba(96, 101, 178, 0);
  border-width: 0px;
}

div.gradient-border,
div.gradient-border:hover {
  height: 96px;
  width: 320px;
  --border-width: 4px;
  position: relative;
  display: flex;
  color: rgba(96, 101, 178, 1);
  background-color: white;
  border-radius: var(--border-width);
}

div.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -2;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/* .high-light,
.high-light.is-active,
.high-light.is-active:hover {
    --angle: 0deg;
    border: 5px solid;
    border-radius: 7px;
    border-image: conic-gradient(from var(--angle), rgba(0, 206, 209, 0.869), rgba(0, 123, 255, 0.742), rgba(143, 48, 251, 0.844), rgba(137, 43, 226, 0.711), rgba(0, 55, 255, 0.733), rgba(0, 206, 209, 0.924)) 1 round;


    -webkit-mask:
    
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);


    mask-composite: exclude;
  
    animation: 16s rotate linear infinite;
}

 @keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
} */

#dex-section {
  color: rgba(96, 101, 178, 1);
}

.tabs {
  max-width: 100%;
  color: rgba(96, 101, 178, 1);
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  width: 400px;
  height: 490px;
  background-color: white;
  border-radius: 7px;
  border-width: 4px;
  box-shadow: 1px 4px 8px rgba(42, 51, 173, 0.2);
  z-index: 0;
}

.tabs-head {
  display: flex;
  align-items: stretch;
  width: 100%;
  padding-top: 4px;
}

.tabs-toggle {
  display: flex;
  font-weight: 600;
  font-size: large;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: rgba(96, 101, 178, 1);
  background-color: white;
  cursor: pointer;
  border-radius: 7px;
}

.tabs-toggle.is-active {
  background: rgba(96, 101, 178, 1);
  color: white;
  font-weight: 600;
  font-size: large;
  text-shadow: 4px 4px 8px rgba(38, 0, 164, 0.4);
}

.tabs-content {
  display: none;
}

.tabs .tabs-content > div {
  position: relative;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}

.tabs-content.is-active {
  display: block;
}

.tabs .tabs-content.is-active > div {
  opacity: 1;
  transform: scale(1);
}

body ::-webkit-scrollbar {
  width: 20px;
}

body ::-webkit-scrollbar-track {
  background: rgba(42, 51, 173, 0.3);
  border-radius: 5px;
  margin-block: 0.5em;
}

body ::-webkit-scrollbar-thumb {
  background: rgba(42, 51, 173, 0.7);
  opacity: 0.4;
  border-radius: 5px;
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(96, 101, 178, 1);
  width: 1vw;
  border: rgba(50, 1, 147, 0.4);
  box-shadow: 2px 4px 8px rgba(38, 0, 164, 0.4);
}

body ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: large;
  padding-left: 8px;
  color: rgba(96, 101, 178, 0.7);
  opacity: 0.8;
  /* Firefox */
}

body ::placeholder.active {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: large;
  color: rgba(96, 101, 178, 0.7);
  opacity: 0.8;
  /* Firefox */
  border: none;
}

body :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(96, 101, 178, 1);
  border: none;
}

body ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(96, 101, 178, 1);
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.stake-button {
  background-color: rgba(96, 101, 178, 1);
  color: white;
  border: rgba(42, 51, 173, 1);
  box-shadow: 2px 4px 8px rgba(42, 51, 173, 0.2);
  border-radius: 7px;
}

.stake-button:hover {
  background-color: rgba(96, 101, 178, 1);
  color: white;
  border: rgba(96, 101, 178, 1);
  box-shadow: 2px 4px 8px rgba(96, 101, 178, 0.7);
}

.harvest-button {
  background-color: rgb(244, 245, 255);
  border: rgba(96, 101, 178, 1);
  color: rgba(96, 101, 178, 1);
  border-radius: 7px;
}

.harvest-button:hover {
  background-color: rgba(96, 101, 178, 1);
  color: white;
  border: rgba(96, 101, 178, 1);
  box-shadow: 4px 4px 8px rgba(96, 101, 178, 0.7);
}

body.dark .pulse,
body.dark .pulse:before,
body.dark .pulse:after {
  background-color: rgba(96, 101, 178, 1);
}

body.dark .pulse:hover {
  background: linear-gradient(rgba(96, 101, 178, 1), rgba(96, 101, 178, 0.1));
  border: rgba(96, 101, 178, 1);
}

.pulse {
  height: 54px;
  width: 100px;
  background-color: rgba(96, 101, 178, 1);
  border: rgba(96, 101, 178, 0.7);
  position: absolute;
  margin: auto;
  left: 40px;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 7px;
  font-size: 16px;
  display: grid;
  place-items: center;
  color: white;
}

.pulse:before,
.pulse:after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-color: rgba(96, 101, 178, 1);
  opacity: 0.7;
  border-radius: 7px;
  z-index: -1;
  opacity: 0.7;
}

.pulse:before {
  animation: pulse 2s ease-out infinite;
}

.pulse:after {
  animation: pulse 2s 1s ease-out infinite;
}

.pulse:hover {
  background: linear-gradient(rgba(96, 101, 178, 1), rgba(96, 101, 178, 0.2));
  border: rgba(96, 101, 178, 1);
}

@keyframes pulse {
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.harvest-all-button {
  width: 110px;
  height: 54px;
  right: 24px;
  position: relative;
  font-size: medium;
  background-color: rgba(96, 101, 178, 1);
  border: rgba(96, 101, 178, 0.7);
  color: white;
  border-radius: 7px;
}

.harvest-all-button:hover {
  background-color: rgba(96, 101, 178, 1);
  color: white;
  border: rgba(96, 101, 178, 1);
  box-shadow: 2px 4px 8px rgba(96, 101, 178, 0.7);
}

.dex-logo {
  width: 80px;
  border-radius: 500px;
  /* box-shadow: 2px 4px 8px rgba(42, 51, 173, 0.2); */
}

.dex-logo:hover {
  width: 80px;
  border-radius: 500px;
  box-shadow: 2px 2px 8px rgba(355, 355, 355, 0.3);
  cursor: pointer;
}

.dex-logo:before {
  content: attr(data-hover);
  visibility: visible;
  opacity: 1;
  width: 120px;
  background-color: rgba(96, 101, 178, 1);

  color: #fff;
  text-align: center;
  border-radius: 7px;

  transition: opacity 500ms ease-in-out;

  position: absolute;
  z-index: 1;
  left: -12px;
  top: -28px;
}

.dex-logo:hover:before {
  opacity: 1;
  visibility: visible;
}

.chartCard {
  width: 600px;
  height: 240px;
  background: rgba(42, 51, 173, 0);
  position: relative;
  left: 660px;
  top: -100px;
}

.chartBox {
  width: 320px;
  height: 240px;
  padding: 50px 12px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(42, 51, 173, 0.2);
}

#main {
  position: relative;
  left: 7px;
  width: 54px;
  height: 54px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

#show {
  display: none;
  position: relative;
  bottom: 53px;
  left: 2px;
  background-color: rgba(254, 0, 0, 0);
}

#hide {
  position: relative;
  bottom: 53px;
  left: 7px;
  background-color: rgba(4, 255, 0, 0);
}

#main:hover + #show {
  display: block;
  height: 54px;
}

#main:hover ~ #hide {
  display: none;
}

.kvs-spin {
  display: block;
  height: var(--coin-size);
  width: var(--coin-size);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kvs-spin::before {
  content: "";
  display: block;
  position: relative;
  height: var(--coin-size);
  width: var(--coin-size);
  border-radius: 50%;
  background-color: var(--face);
  animation: spin 1s linear infinite;
  background-image: var(--coin-face);
  background-size: 100% 100%;
  background-position: center;
  background-blend-mode: overlay;
}

.skvs-spin {
  display: block;
  height: var(--coin-size);
  width: var(--coin-size);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skvs-spin::before {
  content: "";
  display: block;
  position: relative;
  height: var(--coin-size);
  width: var(--coin-size);
  border-radius: 50%;
  background-color: var(--face);
  animation: spin 1s linear infinite;
  background-image: url("./img/Token\ sKVS.png");
  background-size: 100% 100%;
  background-position: center;
  background-blend-mode: overlay;
}

:root {
  --face: #ae9dd000;
  --lowlight: rgb(56, 56, 56);
  --side: rgba(96, 101, 178, 0.7);
  --side-dark: #1c142f;
  --coin-size: 54px;
  --coin-face: url("./img/Token\ KVS.png");
}

body.dark .coin-div {
  --side: rgb(96, 101, 178);
}

@keyframes spin {
  0% {
    width: var(--coin-size);
    box-shadow: 0 0 0 var(--side-dark);
    animation-timing-function: ease-in;
  }

  49.999% {
    width: 0.1rem;
    box-shadow: 0.05rem 0 0 var(--side), 0.1rem 0 0 var(--side),
      0.15rem 0 0 var(--side), 0.2rem 0 0 var(--side), 0.25rem 0 0 var(--side),
      0.3rem 0 0 var(--side), 0.35rem 0 0 var(--side), 0.4rem 0 0 var(--side),
      0.45rem 0 0 var(--side), 0.5rem 0 0 var(--side), 0.55rem 0 0 var(--side),
      0.6rem 0 0 var(--side), 0.65rem 0 0 var(--side), 0.7rem 0 0 var(--side),
      0.75rem 0 0 var(--side);
    transform: translateX(-0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: linear;
  }

  50.001% {
    width: 0.1rem;
    box-shadow: -0.05rem 0 0 var(--side), -0.1rem 0 0 var(--side),
      -0.15rem 0 0 var(--side), -0.2rem 0 0 var(--side),
      -0.25rem 0 0 var(--side), -0.3rem 0 0 var(--side),
      -0.35rem 0 0 var(--side), -0.4rem 0 0 var(--side),
      -0.45rem 0 0 var(--side), -0.5rem 0 0 var(--side),
      -0.55rem 0 0 var(--side), -0.6rem 0 0 var(--side),
      -0.65rem 0 0 var(--side), -0.7rem 0 0 var(--side),
      -0.75rem 0 0 var(--side);
    transform: translateX(0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: ease-out;
  }

  100% {
    width: var(--coin-size);
    box-shadow: 0 0 0 var(--side-dark);
  }
}

@keyframes flip {
  0% {
    height: var(--coin-size);
    box-shadow: 0 0 0 var(--side-dark);
    animation-timing-function: ease-in;
  }

  49.999% {
    height: 0.1rem;
    box-shadow: 0 0.05rem 0 var(--side), 0 0.1rem 0 var(--side),
      0 0.15rem 0 var(--side), 0 0.2rem 0 var(--side), 0 0.25rem 0 var(--side),
      0 0.3rem 0 var(--side), 0 0.35rem 0 var(--side), 0 0.4rem 0 var(--side),
      0 0.45rem 0 var(--side), 0 0.5rem 0 var(--side), 0 0.55rem 0 var(--side),
      0 0.6rem 0 var(--side), 0 0.65rem 0 var(--side), 0 0.7rem 0 var(--side),
      0 0.75rem 0 var(--side);
    transform: translateY(-0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: linear;
  }

  50.001% {
    height: 0.1rem;
    box-shadow: 0 -0.05rem 0 var(--side), 0 -0.1rem 0 var(--side),
      0 -0.15rem 0 var(--side), 0 -0.2rem 0 var(--side),
      0 -0.25rem 0 var(--side), 0 -0.3rem 0 var(--side),
      0 -0.35rem 0 var(--side), 0 -0.4rem 0 var(--side),
      0 -0.45rem 0 var(--side), 0 -0.5rem 0 var(--side),
      0 -0.55rem 0 var(--side), 0 -0.6rem 0 var(--side),
      0 -0.65rem 0 var(--side), 0 -0.7rem 0 var(--side),
      0 -0.75rem 0 var(--side);
    transform: translateY(0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: ease-out;
  }

  100% {
    height: var(--coin-size);
    box-shadow: 0 0 0 var(--side-dark);
  }
}

.rate-stake,
.rate-unstake {
  font-size: 20px;
  font-weight: 500;
}
